body {
  background: rgb(241, 242, 246);
}

/*header.header {
  background: url(/assets/img/bg.jpg) center 60%;
  color: #fff;
  padding-bottom: 15px;
  margin-top: -50px;
}*/

header.header {
    background: url(/assets/img/bg.jpg) no-repeat;
    color: #fff;
    margin-top: -50px;
    padding-top: 25px;
    background-size: cover;
    padding-bottom: 25px;
}

header.header h1 {
  color: #fff!important;
}

header h1 {
  margin-bottom: 7px;
  font-size: 41px;
}

header h2 {
  font-size: 21px;
  font-weight: 100;
  margin-top: 0px;
  color: #929191;
}

.home h1, .article h1 {
  font-size: 31px;
  margin-top: 15px;
}

.article {
  margin-top: 20px;
}

.breadcrumb-arrow {
  margin-top: 20px;
}

.home, .error {
  margin-top: 15px;
}

.footer {
  margin-top: 25px;
}

.login {
  margin-top: 35px;
}

.date {
    color: #3bafda;
    font-weight: 600;
}

/* Navbar Front */

@media all and (min-width: 768px) {

  section.frontnav .navbar {
    margin-bottom: 0px;
  }

  section.frontnav .navbar-default {
      background: transparent;
      border: none;
  }

  section.frontnav .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
  }

  section.frontnav .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: white;
      background-color: #3bafda;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
  }

  section.frontnav .navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
      color: #aab2bd;
  }

}

@media all and (max-width: 768px) {
  section.frontnav .nav>li {
    float: left;
  }

  section.frontnav .navbar {
    margin-bottom: 0px;
  }

  section.frontnav .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }

  section.frontnav .navbar-nav {
    margin: 0px -15px;
  }
  section.frontnav .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: white;
      background-color: #3bafda;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
  }

  section.frontnav .navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
      color: #aab2bd;
  }

  section.frontnav .navbar-default .navbar-text, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
  }

  header.header {
    background: url(/assets/img/bg.jpg) center no-repeat black;
    color: #fff;
    background-size: cover;
    padding-bottom: 15px;
    margin-top: -50px;
    padding-top: 20px;
  }
}

/* Admin */

.navbar {
  border-radius: 0px;
}

.table>tbody>tr>td {
  vertical-align: inherit;
}

section.users .panel-title, section.articles .panel-title, section.alerts .panel-title {
    line-height: 2.4;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

section.home a:hover i.fa.fa-user, section.home a:hover i.fa.fa-file, section.home a:hover i.fa.fa-comment, section.home a:hover i.fa.fa-bell {
    color: #b2b4b7!important;
}
