body {
  background: rgb(241, 242, 246);
}

header.header {
  /*background-color: #272727;*/
  background: url(/assets/img/bg.jpg) center 60%;
  color: #fff;
  padding-bottom: 15px;
}

header h1 {
  margin-bottom: 7px;
  font-size: 41px;
}

header h2 {
  font-size: 21px;
  font-weight: 100;
  margin-top: 0px;
  color: #929191;
}

.home h1, .article h1 {
  font-size: 31px;
  margin-top: 15px;
}

.article {
  margin-top: 20px;
}

.breadcrumb-arrow {
  margin-top: 20px;
}

.home, .error {
  margin-top: 15px;
}

/* Admin */

.navbar {
  border-radius: 0px;
}

.table>tbody>tr>td {
  vertical-align: inherit;
}

section.users .panel-title, section.articles .panel-title, section.alerts .panel-title {
    line-height: 2.4;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

section.home a:hover i.fa.fa-user, section.home a:hover i.fa.fa-file, section.home a:hover i.fa.fa-comment, section.home a:hover i.fa.fa-bell {
    color: #b2b4b7!important;
}
