{% extends "layout.twig" %}

{% block title %}Alert{% endblock %}

{% block body %}

    <h1>Alert</h1>
    <p>Il s'agit de l'alert {{ id }}!</p>

    <ul>
        {% for colour in colours %}
            <li>{{ colour }}</li>
        {% endfor %}
    </ul>

{% endblock %}
