{% extends "layout.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Jean Forteroche</h1>
    <p>Follow my story</p>

    <ul>
        {% for article in articles %}
            <h1>{{ article.title }}</h1>
            <p>{{ article.content }}</p>
            <footer>
                  <a href="/article/{{ article.id }}">Voir la suite</a>
            </footer>
        {% endfor %}
    </ul>

{% endblock %}
